<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plotting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static 'utils.js' %}"></script>

</head>

<body>

<h1> Index Page </h1>
<p> This page tests plotting API returned data with Plotly</p>

<!-- auto populated by JQuery. Each child node is a Plot -->
<div class="container-fluid">
</div>



<script>
    $(document).ready(function(){
        var endpoint = "/plotting/spread/?format=json&technical=BBANDS&instid=";
        var pairs = {{pairs|safe}};
        $.each(pairs, function(i, item){
            var dest = endpoint + item;
            $(".container-fluid").append("<div class='col-sm-4'><div id="+i+"></div></div>")
            $.ajax({
                method: "GET",
                url: dest,
                success: function(data){
                    array = item.split(',');
                    title = array[0] + " vs " + array[1];
                    plotBBANDS(String(i), data, 'date', 'spread', 9, title);
                    foo();
                },
            });
        });
    });







</script>


</body>
</html>