<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plotting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'new.js' %}"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
        </ul>
    </div>
</nav>

<!-- auto populated by JQuery. Each child node is a Plot -->
<div class="container-fluid">
    <div class="jumbotron"><h1 class="text-center">Index page</h1></div>
</div>


<script>
    $(document).ready(function(){
        var endpoint = "/plotting/spread/?format=json&technical=BBANDS&id=";
        var pairs = {{pairs|safe}};

        // plot out all pairs
        $.each(pairs, function(i, item){
            var dest = endpoint + item;
            var div = $("<div class='col-sm-4 well'><div id="+i+"></div></div>");
            $(".container-fluid").append(div);
            var r = $('<input type="button" value="Detail" class="btn"/>');
            r.appendTo(div);
            $.ajax({
                method: "GET",
                url: dest,
                success: function(data){
                    //console.log(data);
                    array = item.split(',');
                    title = validName(array[0]) + " vs " + validName(array[1]);
                    plotBBANDS(String(i), data, 'date', 'spread', 9, title);
                },
            });
        });

        // re-direct to details
        $(".btn").click(function(event){
            var id = $(event.target).prev().attr('id');
            var pair = pairs[id];
            $(location).attr('href', "/plotting/detail/?id=" + pair);
        });
    });
</script>

</body>
</html>